$color-white: #fff;
$color-main: #1db7e1;
$color-pink: #ff7a7a;
$color-text: #353535;
$color-bg: #ecfbff;
$color-accent: #ffb443;
$color-accent-light: #fffae9;
$color-gray: #bbbbbb;
$color-gray-second: #aaaaaa;
$color-gray-third: #f2f2f2;
$color-red: #dd0000;

body{
  width: 100%;
  font-family: 'Roboto';
  color: $color-text;
}

section{
  width: 100%;
}

.sec-title{
  width: 100%;
  text-align: center;
  padding: 50px 0 20px 0;
  img{
    width: 122px;
    margin-bottom: 10px;
  }
  &__text{
    font-size: 30px;
    font-weight: bold;
    font-family: ten-mincho, serif;
    color: $color-main;
    letter-spacing: 5px;
  }
}

.is-color-bg{
  background-color: $color-bg;
}

header{
  width: 100%;
  background-color: $color-white;
}

.header-container{
  &__first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 120px 10px 120px;
  }
  &__second{
    &.is-sp{
      display: none;
    }
  }
  &__left{
    display: flex;
    align-items: center;
  }
  &__logo{
    height: 75px;
    margin-right: 10px;
  }
  &__appeal{
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid $color-pink;
    border-radius: 10px;
    color: $color-pink;
    i{
      font-size: 28px;
      margin-right: 10px;
    }
  }
  &__appeal-text{
    font-size: 15px;
    margin-right: 10px;
  }
  &__appeal-label{
    font-size: 13px;
    font-weight: 900;
    padding: 2px 12px;
    color: $color-white;
    background-color: $color-pink;
  }
  &__call{
    color: $color-main;
    line-height: 10px;
    i{
      font-size: 32px;
      margin-right: 12px;
    }
  }
  &__time-zone{
    text-align: right;
    font-size: 15px;
  }
  &__phone-number{
    font-size: 35px;
    letter-spacing: 35 * 0.05px;
    font-weight: bold;
  }
}

.main-visual{
  position: relative;
  width: 100%;
  img{
    width: 100%;
  }
  &__up{
    margin-bottom: 24px;
  }
  &__copy{
    p{
      font-size: 55px;
      color: $color-main;
    }
    span{
      font-weight: 900;
      font-size: 66px;
      color: $color-main;
    }
    span:last-child{
      display: block;
      color: $color-text;
      font-size: 20px;
      font-weight: normal;
    }
    .is-dot{
      letter-spacing: -3px;
      position: relative;
    }
    .is-dot::before{
      content: "";
      position: absolute;
      top: -10px;
      right: 0;
      left: 0;
      margin: auto;
      width: 10px;
      height: 10px;
      background: $color-pink;
      border-radius: 50%;
    }
  }
  &__banners{
    width: 45%;
    display: flex;
    img{
      width: 33.3%;
      min-width: 150px;
      margin-right: 18px;
    }
  }
  &__reference{
    span{
      font-size: 13px;
    }
  }
}

.cv-point{
  text-align: center;
  width: 680px;
  margin: 38px auto;
  border: 1px dashed $color-main;
  padding: 30px 60px;
  border-radius: 25px;
  &__text{
    font-size: 23px;
    font-weight: bold;
    color: $color-main;
    margin-bottom: 10px;
  }
  &__button{
    a{
      position: relative;
      margin: 0 auto;
      display: block;
      width: 395px;
      background: linear-gradient(to right, #ff637f, #ffa86b);;
      color: $color-white;
      font-size: 25px;
      font-weight: bold;
      line-height: 75px;
      border-radius: 37.5px;
    }
    a:hover{
      opacity: .8;
    }
    img{
      position: absolute;
      width: 33px;
      left: 20px;
      top: 21px;
    }
  }
}

.intro{
  position: relative;
  img{
    width: 100%;
  }
  &__container{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%) translateX(-50%);
  }
  &__title{
    span{
      font-size: 22px;
      color: $color-main;
      font-family: ten-mincho, serif;
      font-weight: bold;
      letter-spacing: 0.8px;
    }
    .is-bar{
      padding-right: 118px;
      position: relative;
    }
    .is-bar::after{
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      background: $color-main;
      width: 114px;
      height: 1px;
    }
  }
  &__body{
    p{
      font-size: 18px;
    }
    p:first-child{
      margin: 10px 0;
    }
    p:nth-of-type(2){
      margin: 8px 0;
    }
    p:last-child{
      margin-top: 10px;
    }
    span{
      font-weight: bold;
      border-radius: 5px;
      padding: 5px 15px;
      background-color: $color-white;
      font-size: 22px;
      color: $color-pink;
      font-family: ten-mincho, serif;
    }
  }
}

.movie{
  text-align: center;
  video{
    width: 100%;
    max-width: 600px;
  }
}

.graph{
  margin-top: 50px;
  text-align: center;
  img{
    width: 80%;
  }
}

.strength{
  width: 1076px;
  margin: 0 auto;
  &__data{
    border-radius: 12px;
    background-color: $color-accent;
    text-align: center;
    padding: 20px 94px;
    margin-bottom: 30px;
  }
  &__heading{
    position: relative;
    display: inline-block;
    padding: 0 394px;
    font-size: 20px;
    font-weight: bold;
    color: $color-white;
    text-align: center;
    margin-bottom: 10px;
  }
  &__heading:after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: $color-white;
    width: 374px;
    height: 1px;
  }
  &__heading:before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: $color-white;
    width: 374px;
    height: 1px;
  }
  &__contents{
    display: flex;
    justify-content: center;
    li{
      padding: 12px 0;
      background-color: $color-white;
      width: 33%;
      margin-right: 20px;
    }
    li:last-child{
      margin: 0;
    }
  }
  &__th{
    font-size: 15px;
    font-weight: bold;
  }
  &__td{
    font-size: 24px;
    font-weight: bold;
    color: $color-pink;
    font-family: ten-mincho, serif;
    span{
      font-size: 40px;
    }
  }
  &__description{
    border-radius: 12px;
    padding: 30px 25px;
    background-color: $color-white;
  }
  &__lists{
    margin-bottom: 20px;
    li{
      font-size: 20px;
      padding: 15px 0;
      border-bottom: 1px dashed $color-main;
    }
    img{
      margin-right: 10px;
      width: 23px;
    }
    span{
      color: $color-pink;
      font-family: ten-mincho, serif;
      font-weight: bold;
    }
  }
  &__document{
    text-align: center;
    width: 100%;
    display: flex;
    .is-up{
      width: 50%;
    }
    .is-down{
      width: 50%;
    }
    ul:first-child{
      margin-right: 10px;
    }
  }
  &__doc-lists{
    display: flex;
    li{
      border: 2px solid $color-main;
      padding: 15px 0;
      width: 100%;
      font-family: ten-mincho, serif;
      font-size: 20px;
      color: $color-main;
      margin-right: 10px;
    }
    li:last-child{
      margin: 0;
    }
  }
}

.support{
  width: 1076px;
  margin: 0 auto;
  &__contents{
    display: flex;
    justify-content: center;
    li{
      width: 33.3%;
      margin-right: 45px;
    }
    img{
      width: 100%;
      height: 161px;
      object-fit: cover;
    }
  }
  &__heading{
    border-radius: 12px 12px 0 0;
    background-color: $color-accent;
    color: $color-white;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: ten-mincho, serif;
    padding: 5px 0;
  }
  &__body{
    border-radius: 0 0 12px 12px;
    font-size: 16px;
    height: 132px;
    background-color: $color-white;
    padding: 15px 20px;
  }
  &__method{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    img{
      width: 460px;
      margin-right: 20px;
    }
  }
  &__method-txt{
    font-size: 15px;
  }
}

.greeting{
  width: 1076px;
  margin: 0 auto;
  padding: 50px 0;
  img{
    width: 100%;
  }
}

.step{
  width: 1076px;
  margin: 0 auto;
}

.c-accordion{
  li{
    border-radius: 12px;
    background: $color-accent;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  &__title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    color: $color-white;
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
    transition: all .5s ease;
    span{
      font-size: 45px;
      font-family: 'Alex Brush', cursive;
      margin-right: 15px;
    }
    i{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 28px;
      transition: all .5s ease;
    }
    &.is-close {
      i{
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }
  &__box {
    display: none;/*はじめは非表示*/
    background-color: $color-accent-light;
    border-radius: 0 0 12px 12px;
    padding: 32px 48px;
  }
  .is-flex{
    display: flex !important;
    align-items: center;
  }
  &__image{
    margin-right: 30px;
    img{
      width: 100%;
    }
  }
  &__text {
    width: 38%;
    font-size: 16px;
    a{
      font-size: 20px;
      font-family: ten-mincho, serif;
      color: $color-main;
    }
    a:hover{
      opacity: .6;
    }
  }
}

.plan{
  width: 1076px;
  margin: 0 auto;
  &__title{
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: $color-white;
    font-family: ten-mincho, serif;
    background-color: $color-gray;
    &.is-main-color{
      background-color: $color-main;
    }
  }
  &__discount{
    width: 100%;
    li{
      display: flex;
      margin-bottom: 15px;
    }
  }
  &__discount-title{
    padding: 10px 0;
    letter-spacing: 5px;
    background-color: $color-gray;
    font-size: 20px;
    font-weight: bold;
    color: $color-white;
    text-align: center;
    line-height: 52px;
    width: 40%;
  }
  &__discount-body{
    font-size: 18px;
    padding: 12px 0;
    background-color: $color-white;
    text-align: center;
    width: 60%;
    strong{
      font-size: 30px;
      color: $color-red;
    }
    span{
      font-size: 20px;
      color: $color-red;
    }
  }
}

.c-table-price{
  width: 100%;
  th ,
  td{
    border-right: 1px solid $color-gray-second;
    &:last-child {
      border-right: none;
    }
  }
  thead {
    background-color: $color-gray;
    th:first-child{
      width: 302px;
    }
    .p-1, .p-2{
      width: 387px;
    }
    .p-1{
      background-color: $color-main;
    }
    .p-2{
      background-color: $color-accent;
    }
    th {
      padding: 10px 0;
      text-align: center;
      span {
        font-size: 20px;
        font-family: ten-mincho, serif;
        color: $color-white;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $color-gray-second;
      &:last-child{
        border-bottom: none;
      }
    }
    th {
      padding: 24px 0;
      font-size: 16px;
      text-align: center;
      background-color: $color-gray-third;
    }
    td {
      font-size: 16px;
      text-align: center;
      background-color: $color-white;
      vertical-align: middle;
      strong{
        font-size: 30px;
      }
      span{
        font-size: 22px;
        font-weight: bold;
      }
      &.is-red{
        color: $color-red;
      }
    }
  }
}

@media screen and (min-width: 481px){
  body{
    min-width: 1200px;
  }

  .main-visual{
    &__image-sp{
      display: none;
    }
    &__container{
      position: absolute;
      left: 12%;
      top: 12%;
    }
  }

  .intro{
    .is-sp{
      display: none;
    }
  }

  .graph{
    .is-sp{
      display: none;
    }
  }

  .greeting{
    .is-sp{
      display: none;
    }
  }
  .plan{
    .is-sp{
      display: none;
    }
  }
}

@media screen and (max-width: 480px){
  .sec-title{
    &__text{
      letter-spacing: 2px;
      font-size: 20px;
      span{
        display: block;
      }
    }
  }

  .header-container{
    &__first{
      padding: 8px 10px 0 10px;
    }
    &__logo{
      height: 40px;
    }
    &__appeal{
      &.is-pc{
        display: none;
      }
    }
    &__call{
      i{
        font-size: 19px;
        margin-right: 5px;
      }
    }
    &__time-zone{
      font-size: 11px;
    }
    &__phone-number{
      font-size: 19px;
      letter-spacing: 19 * 0.05px;
    }
    &__second{
      &.is-sp{
        display: inline-block;
        margin: 0 0 10px 15px;
      }
      .header-container{
        &__appeal{
          padding: 5px 8px;
          i{
            font-size: 18px;
          }
        }
        &__appeal-text{
          font-size: 12px;
        }
        &__appeal-label{
          font-size: 11px;
          padding: 2px 8px;
        }
      }
    }
  }

  .main-visual{
    &__image{
      display: none;
    }
    &__up{
      width: 100%;
      margin: 0 auto;
      position: absolute;
      top: 0;
    }
    &__down{
      position: absolute;
      bottom: 0;
    }
    &__copy{
      text-align: center;
      p{
        font-size: 28px;
      }
      span{
        font-size: 32px;
      }
      span:last-child{
        padding: 0 20%;
        font-size: 15px;
      }
      .is-dot{
        letter-spacing: -3.5px;
      }
      .is-dot::before{
        top: -7px;
        width: 7px;
        height: 7px;
      }
    }
    &__banners{
      width: 80%;
      margin: 0 auto;
      img{
        min-width: 0;
        margin-right: 10px;
      }
      img:last-child{
        margin-right: 0;
      }
    }
    &__reference{
      width: 80%;
      margin: 0 auto;
      span{
        display: block;
        line-height: 19px;
        font-size: 11px;
      }
    }
  }

  .cv-point{
    width: 80%;
    padding: 20px;
    &__text{
      font-size: 14px;
    }
    &__button{
      a{
        width: 100%;
        font-size: 18px;
        line-height: 54px;
      }
      img{
        width: 24px;
        top: 15px;
      }
    }
  }

  .intro{
    .is-pc{
      display: none;
    }
    &__container{
      width: 95%;
      top: 63.5%;
      left: 50%;
    }
    &__title{
      span{
        font-size: 18px;
      }
      span:last-child{
        padding-right: 78px;
      }
      .is-bar.is-sp{
        display: inline-block;
      }
      .is-bar::after{
        width: 70px;
      }
    }
    &__body{
      p{
        font-size: 15px;
      }
      span{
        font-size: 18px;
      }
    }
  }

  .graph{
    margin: 30px 0;
    .is-pc{
      display: none;
    }
    img{
      width: 100%;
    }
  }

  .strength{
    width: 100%;
    &__data{
      border-radius: 0px;
      padding: 20px;
    }
    &__heading{
      padding: 0 98px;
    }
    &__heading:after{
      width: 88px;
    }
    &__heading:before{
      width: 88px;
    }
    &__contents{
      display: block;
      li{
        width: 80%;
        margin: 0 auto 18px auto;
      }
      li:last-child{
        margin: 0 auto 18px auto;
      }
    }
    &__td{
      font-size: 20px;
      span{
        font-size: 35px;
      }
    }
    &__description{
      border-radius: 0px;
    }
    &__lists{
      li{
        font-size: 16px;
      }
    }
    &__document{
      display: block;
      .is-up{
        width: 100%;
      }
      .is-down{
        width: 100%;
      }
      ul:first-child{
        margin-right: 8px;
        margin-bottom: 5px;
      }
    }
    &__doc-lists{
      li{
        font-size: 15px;
      }
    }
  }

  .support{
    width: 100%;
    &__contents{
      display: block;
      li{
        width: 85%;
        margin: 0 auto 20px auto;
      }
    }
    &__heading{
      font-size: 20px;
    }
    &__body{
      font-size: 15px;
    }
    &__method{
      text-align: center;
      padding: 30px 0 50px 0;
      display: block;
      img{
        width: 85%;
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }

  .greeting{
    width: 95%;
    padding: 30px 0;
    .is-pc{
      display: none;
    }
  }

  .step{
    width: 90%;
  }

  .c-accordion{
    li{
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    &__title {
      font-size: 16px;
      span{
        font-size: 32px;
      }
      i{
        right: 14px;
      }
    }
    &__box {
      padding: 18px 24px;
    }
    .is-flex{
      display: block !important;
    }
    &__image{
      margin-right: 0;
      margin-bottom: 10px;
    }
    &__text {
      width: 100%;
      font-size: 15px;
      a{
        font-size: 18px;
      }
    }
  }
  .plan{
    width: 90%;
    &__discount{
      li{
        display: block;
      }
    }
    &__discount-title{
      letter-spacing: 3px;
      font-size: 18px;
      line-height: 27px;
      width: 100%;
    }
    &__discount-body{
      font-size: 15px;
      padding: 12px 0;
      width: 100%;
      strong{
        font-size: 22px;
      }
      span{
        font-size: 15px;
      }
    }
  }
  .c-table-price{
    th ,
    td{
      border-right: none;
    }
    thead {
      display: none;
    }
    tbody {
      th {
        width: 35%;
        padding: 20px 5px;
        font-size: 15px;
      }
      td {
        width: 55%;
        font-size: 15px;
        strong{
          font-size: 24px;
        }
        span{
          font-size: 20px;
        }
      }
    }
    .js-is-hidden {
      display: none;
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 340px){
  .sec-title{
    &__text{
      font-size: 18px;
    }
  }
  .main-visual{
    &__copy{
      p{
        font-size: 24px;
      }
      span{
        font-size: 28px;
      }
      span:last-child{
        font-size: 13px;
      }
    }
  }
  .cv-point{
    &__text{
      font-size: 12px;
    }
    &__button{
      a{
        font-size: 16px;
        line-height: 50px;
      }
      img{
        width: 20px;
        top: 16px;
      }
    }
  }
  .intro{
    &__title{
      span{
        font-size: 16px;
      }
    }
    &__body{
      p{
        font-size: 13px;
      }
      span{
        font-size: 16px;
      }
    }
  }
  .strength{
    &__heading{
      padding: 0 88px;
      font-size: 18px;
    }
    &__heading:after{
      width: 78px;
    }
    &__heading:before{
      width: 78px;
    }
    &__td{
      font-size: 18px;
      span{
        font-size: 32px;
      }
    }
    &__lists{
      li{
        font-size: 15px;
      }
    }
    &__doc-lists{
      li{
        font-size: 14px;
      }
    }
  }
  .plan{
    &__discount-title{
      font-size: 16px;
      line-height: 24px;
    }
    &__discount-body{
      font-size: 14px;
      strong{
        font-size: 18px;
      }
      span{
        font-size: 14px;
      }
    }
  }
  .c-table-price{
    tbody {
      th {
        font-size: 14px;
      }
      td {
        font-size: 14px;
        strong{
          font-size: 20px;
        }
        span{
          font-size: 18px;
        }
      }
    }
  }
}