$color-white: #fff;
$color-main: #1db7e1;
$color-pink: #ff7a7a;
$color-text: #353535;

body{
  width: 100%;
  font-family: 'Roboto';
  color: $color-text;
}

header{
  width: 100%;
  background-color: $color-white;
}

.header-container{
  &__first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 120px 10px 120px;
  }
  &__second{
    &.is-sp{
      display: none;
    }
  }
  &__left{
    display: flex;
    align-items: center;
  }
  &__logo{
    height: 75px;
    margin-right: 10px;
  }
  &__appeal{
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid $color-pink;
    border-radius: 10px;
    color: $color-pink;
    i{
      font-size: 28px;
      margin-right: 10px;
    }
  }
  &__appeal-text{
    font-size: 15px;
    margin-right: 10px;
  }
  &__appeal-label{
    font-size: 13px;
    font-weight: 900;
    padding: 2px 12px;
    color: $color-white;
    background-color: $color-pink;
  }
  &__call{
    color: $color-main;
    line-height: 10px;
    i{
      font-size: 32px;
      margin-right: 12px;
    }
  }
  &__time-zone{
    text-align: right;
    font-size: 15px;
  }
  &__phone-number{
    font-size: 35px;
    letter-spacing: 35 * 0.05px;
    font-weight: bold;
  }
}

.main-visual{
  position: relative;
  width: 100%;
  img{
    width: 100%;
  }
  &__up{
    margin-bottom: 24px;
  }
  &__copy{
    p{
      font-size: 55px;
      color: $color-main;
    }
    span{
      font-weight: 900;
      font-size: 66px;
      color: $color-main;
    }
    span:last-child{
      display: block;
      color: $color-text;
      font-size: 20px;
      font-weight: normal;
    }
    .is-dot{
      letter-spacing: -3px;
      position: relative;
    }
    .is-dot::before{
      content: "";
      position: absolute;
      top: -10px;
      right: 0;
      left: 0;
      margin: auto;
      width: 10px;
      height: 10px;
      background: $color-pink;
      border-radius: 50%;
    }
  }
  &__banners{
    width: 45%;
    display: flex;
    img{
      width: 33.3%;
      min-width: 150px;
      margin-right: 18px;
    }
  }
  &__reference{
    span{
      font-size: 13px;
    }
  }
}

.cv-point{
  text-align: center;
  width: 680px;
  margin: 38px auto;
  border: 1px dashed $color-main;
  padding: 30px 60px;
  border-radius: 25px;
  &__text{
    font-size: 23px;
    font-weight: bold;
    color: $color-main;
    margin-bottom: 10px;
  }
  &__button{
    a{
      position: relative;
      margin: 0 auto;
      display: block;
      width: 395px;
      background: linear-gradient(to right, #ff637f, #ffa86b);;
      color: $color-white;
      font-size: 25px;
      font-weight: bold;
      line-height: 75px;
      border-radius: 37.5px;
    }
    a:hover{
      opacity: .8;
    }
    img{
      position: absolute;
      width: 33px;
      left: 20px;
      top: 21px;
    }
  }
}

.intro{
  position: relative;
  img{
    width: 100%;
  }
  &__container{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%) translateX(-50%);
  }
  &__title{
    span{
      font-size: 22px;
      color: $color-main;
      font-family: ten-mincho, serif;
      font-weight: bold;
      letter-spacing: 0.8px;
    }
    .is-bar{
      padding-right: 118px;
      position: relative;
    }
    .is-bar::after{
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      background: $color-main;
      width: 114px;
      height: 1px;
    }
  }
  &__body{
    p{
      font-size: 18px;
    }
    p:first-child{
      margin: 10px 0;
    }
    p:nth-of-type(2){
      margin: 8px 0;
    }
    p:last-child{
      margin-top: 10px;
    }
    span{
      font-weight: bold;
      border-radius: 5px;
      padding: 5px 15px;
      background-color: $color-white;
      font-size: 22px;
      color: $color-pink;
      font-family: ten-mincho, serif;
    }
  }
}

.sec-title{
  width: 100%;
  text-align: center;
  padding: 50px 0 20px 0;
  img{
    width: 122px;
    margin-bottom: 10px;
  }
  &__text{
    font-size: 30px;
    font-weight: bold;
    font-family: ten-mincho, serif;
    color: $color-main;
  }
}

.movie{
  text-align: center;
  video{
    width: 100%;
    max-width: 600px;
  }
}

.graph{
  margin-top: 50px;
  text-align: center;
  img{
    width: 80%;
  }
}

@media screen and (min-width: 481px){
  body{
    min-width: 1200px;
  }
  .main-visual{
    &__image-sp{
      display: none;
    }
    &__container{
      position: absolute;
      left: 12%;
      top: 12%;
    }
  }
  .intro{
    .is-sp{
      display: none;
    }
  }
  .graph{
    .is-sp{
      display: none;
    }
  }
}

@media screen and (max-width: 480px){
  .sec-title{
    width: 100%;
    text-align: center;
    padding: 50px 0 20px 0;
    img{
      width: 122px;
      margin-bottom: 10px;
    }
    &__text{
      font-size: 20px;
    }
  }
  .header-container{
    &__first{
      padding: 8px 10px 0 10px;
    }
    &__logo{
      height: 40px;
    }
    &__appeal{
      &.is-pc{
        display: none;
      }
    }
    &__call{
      i{
        font-size: 19px;
        margin-right: 5px;
      }
    }
    &__time-zone{
      font-size: 11px;
    }
    &__phone-number{
      font-size: 19px;
      letter-spacing: 19 * 0.05px;
    }
    &__second{
      &.is-sp{
        display: inline-block;
        margin: 0 0 10px 15px;
      }
      .header-container{
        &__appeal{
          padding: 5px 8px;
          i{
            font-size: 18px;
          }
        }
        &__appeal-text{
          font-size: 12px;
        }
        &__appeal-label{
          font-size: 11px;
          padding: 2px 8px;
        }
      }
    }
  }
  .main-visual{
    &__image{
      display: none;
    }
    &__up{
      width: 100%;
      margin: 0 auto;
      position: absolute;
      top: 0;
    }
    &__down{
      position: absolute;
      bottom: 0;
    }
    &__copy{
      text-align: center;
      p{
        font-size: 28px;
      }
      span{
        font-size: 32px;
      }
      span:last-child{
        padding: 0 20%;
        font-size: 15px;
      }
      .is-dot{
        letter-spacing: -3.5px;
      }
      .is-dot::before{
        top: -7px;
        width: 7px;
        height: 7px;
      }
    }
    &__banners{
      width: 80%;
      margin: 0 auto;
      img{
        min-width: 0;
        margin-right: 10px;
      }
      img:last-child{
        margin-right: 0;
      }
    }
    &__reference{
      width: 80%;
      margin: 0 auto;
      span{
        display: block;
        line-height: 19px;
        font-size: 11px;
      }
    }
  }
  .cv-point{
    width: 80%;
    padding: 20px;
    &__text{
      font-size: 14px;
    }
    &__button{
      a{
        width: 100%;
        font-size: 18px;
        line-height: 54px;
      }
      img{
        width: 24px;
        top: 15px;
      }
    }
  }
  .intro{
    .is-pc{
      display: none;
    }
    &__container{
      width: 95%;
      top: 63.5%;
      left: 50%;
    }
    &__title{
      span{
        font-size: 18px;
      }
      span:last-child{
        padding-right: 78px;
      }
      .is-bar.is-sp{
        display: inline-block;
      }
      .is-bar::after{
        width: 70px;
      }
    }
    &__body{
      p{
        font-size: 15px;
      }
      span{
        font-size: 18px;
      }
    }
  }
  .graph{
    margin: 30px 0;
    .is-pc{
      display: none;
    }
    img{
      width: 100%;
    }
  }
}

@media screen and (max-width: 340px){
  .main-visual{
    &__copy{
      p{
        font-size: 24px;
      }
      span{
        font-size: 28px;
      }
      span:last-child{
        font-size: 13px;
      }
    }
  }
  .cv-point{
    &__text{
      font-size: 12px;
    }
    &__button{
      a{
        font-size: 16px;
        line-height: 50px;
      }
      img{
        width: 20px;
        top: 16px;
      }
    }
  }
  .intro{
    &__title{
      span{
        font-size: 16px;
      }
    }
    &__body{
      p{
        font-size: 13px;
      }
      span{
        font-size: 16px;
      }
    }
  }
}