@charset "UTF-8";
body {
  width: 100%;
  font-family: 'Roboto';
  color: #353535;
}

section {
  width: 100%;
}

section.is-color-bg {
  background-color: #ecfbff;
}

section.is-contact {
  padding: 50px 0;
}

.sec-title {
  width: 100%;
  text-align: center;
  padding: 50px 0 20px 0;
}

.sec-title img {
  width: 122px;
  margin-bottom: 10px;
}

.sec-title__text {
  font-size: 30px;
  font-weight: bold;
  font-family: ten-mincho, serif;
  color: #1db7e1;
  letter-spacing: 5px;
}

header {
  width: 100%;
  background-color: #fff;
}

.header-container__first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 120px 10px 120px;
}

.header-container__second.is-sp {
  display: none;
}

.header-container__left {
  display: flex;
  align-items: center;
}

.header-container__logo {
  height: 75px;
  margin-right: 10px;
}

.header-container__appeal {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #ff7a7a;
  border-radius: 10px;
  color: #ff7a7a;
}

.header-container__appeal i {
  font-size: 28px;
  margin-right: 10px;
}

.header-container__appeal-text {
  font-size: 15px;
  margin-right: 10px;
}

.header-container__appeal-label {
  font-size: 13px;
  font-weight: 900;
  padding: 2px 12px;
  color: #fff;
  background-color: #ff7a7a;
}

.header-container__call {
  color: #1db7e1;
  line-height: 10px;
}

.header-container__call i {
  font-size: 32px;
  margin-right: 12px;
}

.header-container__time-zone {
  text-align: right;
  font-size: 15px;
}

.header-container__phone-number {
  font-size: 35px;
  letter-spacing: 1.75px;
  font-weight: bold;
}

.main-visual {
  position: relative;
  width: 100%;
}

.main-visual img {
  width: 100%;
}

.main-visual__up {
  margin-bottom: 24px;
}

.main-visual__copy p {
  font-size: 55px;
  color: #1db7e1;
}

.main-visual__copy span {
  font-weight: 900;
  font-size: 66px;
  color: #1db7e1;
}

.main-visual__copy span:last-child {
  display: block;
  color: #353535;
  font-size: 20px;
  font-weight: normal;
}

.main-visual__copy .is-dot {
  letter-spacing: -3px;
  position: relative;
}

.main-visual__copy .is-dot::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  left: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background: #ff7a7a;
  border-radius: 50%;
}

.main-visual__banners {
  width: 45%;
  display: flex;
}

.main-visual__banners img {
  height: auto;
  width: 33.3%;
  min-width: 150px;
  margin-right: 18px;
}

.main-visual__reference span {
  font-size: 13px;
}

.cv-point {
  text-align: center;
  width: 680px;
  margin: 38px auto;
  border: 1px dashed #1db7e1;
  padding: 30px 60px;
  border-radius: 25px;
}

.cv-point__text {
  font-size: 23px;
  font-weight: bold;
  color: #1db7e1;
  margin-bottom: 10px;
}

.cv-point__button a {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 395px;
  background: linear-gradient(to right, #ff637f, #ffa86b);
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  line-height: 75px;
  border-radius: 37.5px;
}

.cv-point__button a:hover {
  opacity: .8;
}

.cv-point__button img {
  position: absolute;
  width: 33px;
  left: 20px;
  top: 21px;
}

.intro {
  position: relative;
}

.intro img {
  width: 100%;
}

.intro__container {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-50%) translateX(-50%);
}

.intro__title span {
  font-size: 22px;
  color: #1db7e1;
  font-family: ten-mincho, serif;
  font-weight: bold;
  letter-spacing: 0.8px;
}

.intro__title .is-bar {
  padding-right: 118px;
  position: relative;
}

.intro__title .is-bar::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: #1db7e1;
  width: 114px;
  height: 1px;
}

.intro__body p {
  font-size: 18px;
}

.intro__body p:first-child {
  margin: 10px 0;
}

.intro__body p:nth-of-type(2) {
  margin: 8px 0;
}

.intro__body p:last-child {
  margin-top: 10px;
}

.intro__body span {
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #fff;
  font-size: 22px;
  color: #ff7a7a;
  font-family: ten-mincho, serif;
}

.movie {
  text-align: center;
}

.movie video {
  width: 100%;
  max-width: 600px;
}

.movie p {
  color: #1db7e1;
  font-family: ten-mincho, serif;
}

.graph {
  margin-top: 50px;
  text-align: center;
}

.graph img {
  width: 80%;
}

.strength {
  width: 1076px;
  margin: 0 auto;
}

.strength__data {
  border-radius: 12px;
  background-color: #ffb443;
  text-align: center;
  padding: 20px 94px;
  margin-bottom: 30px;
}

.strength__heading {
  position: relative;
  display: inline-block;
  padding: 0 394px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.strength__heading:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: #fff;
  width: 374px;
  height: 1px;
}

.strength__heading:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: #fff;
  width: 374px;
  height: 1px;
}

.strength__contents {
  display: flex;
  justify-content: center;
}

.strength__contents li {
  padding: 12px 0;
  background-color: #fff;
  width: 33%;
  margin-right: 20px;
}

.strength__contents li:last-child {
  margin: 0;
}

.strength__th {
  font-size: 15px;
  font-weight: bold;
}

.strength__td {
  font-size: 24px;
  font-weight: bold;
  color: #ff7a7a;
  font-family: ten-mincho, serif;
}

.strength__td span {
  font-size: 40px;
}

.strength__description {
  border-radius: 12px;
  padding: 30px 25px;
  background-color: #fff;
}

.strength__lists {
  margin-bottom: 20px;
}

.strength__lists li {
  font-size: 20px;
  padding: 15px 0;
  border-bottom: 1px dashed #1db7e1;
}

.strength__lists img {
  margin-right: 10px;
  width: 23px;
}

.strength__lists span {
  color: #ff7a7a;
  font-family: ten-mincho, serif;
  font-weight: bold;
}

.strength__document {
  text-align: center;
  width: 100%;
  display: flex;
}

.strength__document .is-up {
  width: 50%;
}

.strength__document .is-down {
  width: 50%;
}

.strength__document ul:first-child {
  margin-right: 10px;
}

.strength__doc-lists {
  display: flex;
}

.strength__doc-lists li {
  border: 2px solid #1db7e1;
  padding: 15px 0;
  width: 100%;
  font-family: ten-mincho, serif;
  font-size: 20px;
  color: #1db7e1;
  margin-right: 10px;
}

.strength__doc-lists li:last-child {
  margin: 0;
}

.support {
  width: 1076px;
  margin: 0 auto;
}

.support__contents {
  display: flex;
  justify-content: center;
}

.support__contents li {
  width: 33.3%;
  margin-right: 45px;
}

.support__contents img {
  width: 100%;
  height: 161px;
  object-fit: cover;
}

.support__heading {
  border-radius: 12px 12px 0 0;
  background-color: #ffb443;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-family: ten-mincho, serif;
  padding: 5px 0;
}

.support__body {
  border-radius: 0 0 12px 12px;
  font-size: 16px;
  height: 132px;
  background-color: #fff;
  padding: 15px 20px;
}

.support__method {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.support__method img {
  width: 460px;
  margin-right: 20px;
}

.support__method-txt {
  font-size: 15px;
}

.greeting {
  width: 1076px;
  margin: 0 auto;
  padding: 50px 0;
}

.greeting img {
  width: 100%;
}

.step {
  width: 1076px;
  margin: 0 auto;
}

.c-accordion li {
  border-radius: 12px;
  background: #ffb443;
}

.c-accordion li:not(:last-child) {
  margin-bottom: 24px;
}

.c-accordion__title {
  position: relative;
  /*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px;
  transition: all .5s ease;
}

.c-accordion__title span {
  font-size: 45px;
  font-family: 'Alex Brush', cursive;
  margin-right: 15px;
}

.c-accordion__title i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
  transition: all .5s ease;
}

.c-accordion__title.is-close i {
  transform: translateY(-50%) rotate(-180deg);
}

.c-accordion__box {
  display: none;
  /*はじめは非表示*/
  background-color: #fffae9;
  border-radius: 0 0 12px 12px;
  padding: 32px 48px;
}

.c-accordion .is-flex {
  display: flex !important;
  align-items: center;
}

.c-accordion__image {
  margin-right: 30px;
}

.c-accordion__image img {
  width: 100%;
}

.c-accordion__text {
  width: 38%;
  font-size: 16px;
}

.c-accordion__text a {
  font-size: 20px;
  font-family: ten-mincho, serif;
  color: #1db7e1;
}

.c-accordion__text a:hover {
  opacity: .6;
}

.plan {
  width: 1076px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.plan__title {
  font-weight: bold;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-family: ten-mincho, serif;
  background-color: #bbbbbb;
}

.plan__title.is-main-color {
  background-color: #1db7e1;
}

.plan__discount {
  width: 100%;
}

.plan__discount li {
  display: flex;
  margin-bottom: 15px;
}

.plan__discount-title {
  padding: 10px 0;
  letter-spacing: 5px;
  background-color: #bbbbbb;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 52px;
  width: 40%;
}

.plan__discount-body {
  font-size: 18px;
  padding: 12px 0;
  background-color: #fff;
  text-align: center;
  width: 60%;
}

.plan__discount-body strong {
  font-size: 30px;
  color: #dd0000;
}

.plan__discount-body span {
  font-size: 20px;
  color: #dd0000;
}

.c-table-price {
  width: 100%;
}

.c-table-price th,
.c-table-price td {
  border-right: 1px solid #aaaaaa;
}

.c-table-price th:last-child,
.c-table-price td:last-child {
  border-right: none;
}

.c-table-price thead {
  background-color: #bbbbbb;
}

.c-table-price thead th:first-child {
  width: 302px;
}

.c-table-price thead .p-1, .c-table-price thead .p-2 {
  width: 387px;
}

.c-table-price thead .p-1 {
  background-color: #1db7e1;
}

.c-table-price thead .p-2 {
  background-color: #ffb443;
}

.c-table-price thead th {
  padding: 10px 0;
  text-align: center;
}

.c-table-price thead th span {
  font-size: 20px;
  font-family: ten-mincho, serif;
  color: #fff;
}

.c-table-price tbody tr {
  border-bottom: 1px solid #aaaaaa;
}

.c-table-price tbody tr:last-child {
  border-bottom: none;
}

.c-table-price tbody th {
  padding: 24px 0;
  font-size: 16px;
  text-align: center;
  background-color: #f2f2f2;
}

.c-table-price tbody td {
  font-size: 16px;
  text-align: center;
  background-color: #fff;
  vertical-align: middle;
}

.c-table-price tbody td strong {
  font-size: 30px;
}

.c-table-price tbody td span {
  font-size: 22px;
  font-weight: bold;
}

.c-table-price tbody td.is-red {
  color: #dd0000;
}

.review {
  width: 1076px;
  margin: 0 auto 30px auto;
}

.c-card-review-lg__blocks {
  display: flex;
  justify-content: center;
}

.c-card-review-lg__block {
  display: flex;
  align-items: center;
  position: relative;
  padding: 50px 80px;
  background: #fffae9;
  border-radius: 20px;
  height: 380px;
}

.c-card-review-lg__content {
  margin-right: 25px;
  width: 60%;
}

.c-card-review-lg__title {
  font-size: 24px;
  font-weight: bold;
}

.c-card-review-lg__text {
  font-size: 15px;
}

.c-card-review-lg__image {
  width: 40%;
}

.c-card-review-lg__image img {
  width: 100%;
}

.contact {
  width: 1076px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 30px;
}

.contact__text {
  font-size: 15px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.contact__form {
  width: 697px;
  margin: 0 auto;
  padding: 50px 0;
}

.contact__block {
  width: 100%;
  margin-bottom: 20px;
}

.contact__block.is-harf {
  width: 50%;
}

.contact__block.is-radio {
  display: flex;
}

.contact__text-box, .contact__select-box, .contact__radio-box, .contact__textarea-box {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  padding: 0 8px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
}

.contact select {
  height: 42px;
}

.contact__container {
  display: flex;
}

.contact__radio-box {
  width: 30%;
}

.contact__radio-box input {
  margin: 0;
  width: 50px;
  height: 20px;
}

.contact__radio-box:first-child {
  margin-right: 10px;
}

.contact__textarea-box {
  padding: 8px;
  height: 100%;
  line-height: 22.5px;
  font-family: 'Roboto' !important;
}

.contact__submit {
  margin: 0 auto;
  display: block;
  width: 308px;
  background: linear-gradient(to right, #ff637f, #ffa86b);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 58px;
  border: none;
  border-radius: 37.5px;
}

.contact__submit:hover {
  cursor: pointer;
  opacity: .8;
}

.footer-container {
  width: 100%;
  text-align: center;
  position: relative;
}

.footer-container img {
  width: 100%;
}

.footer-container__contents {
  width: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.footer-container__address {
  font-size: 20px;
  font-family: ten-mincho, serif;
}

.footer-container__number {
  font-size: 38px;
  font-family: ten-mincho, serif;
  letter-spacing: 5px;
  font-weight: bold;
}

@media screen and (min-width: 481px) {
  body {
    min-width: 1200px;
  }
  .main-visual__image-sp {
    display: none;
  }
  .main-visual__container {
    position: absolute;
    left: 12%;
    top: 12%;
  }
  .intro .is-sp {
    display: none;
  }
  .graph .is-sp {
    display: none;
  }
  .greeting .is-sp {
    display: none;
  }
  .plan .is-sp {
    display: none;
  }
  .c-card-review-lg__block {
    flex-direction: row-reverse;
  }
  .footer-container .is-sp {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .sec-title__text {
    letter-spacing: 2px;
    font-size: 20px;
  }
  .sec-title__text span {
    display: block;
  }
  .header-container__first {
    padding: 8px 10px 0 10px;
  }
  .header-container__logo {
    height: 40px;
  }
  .header-container__appeal.is-pc {
    display: none;
  }
  .header-container__call i {
    font-size: 19px;
    margin-right: 5px;
  }
  .header-container__time-zone {
    font-size: 11px;
  }
  .header-container__phone-number {
    font-size: 19px;
    letter-spacing: 0.95px;
  }
  .header-container__second.is-sp {
    display: inline-block;
    margin: 0 0 10px 15px;
  }
  .header-container__second .header-container__appeal {
    padding: 5px 8px;
  }
  .header-container__second .header-container__appeal i {
    font-size: 18px;
  }
  .header-container__second .header-container__appeal-text {
    font-size: 12px;
  }
  .header-container__second .header-container__appeal-label {
    font-size: 11px;
    padding: 2px 8px;
  }
  .main-visual__image {
    display: none;
  }
  .main-visual__up {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
  }
  .main-visual__down {
    position: absolute;
    bottom: 0;
  }
  .main-visual__copy {
    text-align: center;
  }
  .main-visual__copy p {
    font-size: 28px;
  }
  .main-visual__copy span {
    font-size: 32px;
  }
  .main-visual__copy span:last-child {
    padding: 0 20%;
    font-size: 15px;
  }
  .main-visual__copy .is-dot {
    letter-spacing: -3.5px;
  }
  .main-visual__copy .is-dot::before {
    top: -7px;
    width: 7px;
    height: 7px;
  }
  .main-visual__banners {
    width: 80%;
    margin: 0 auto;
  }
  .main-visual__banners img {
    min-width: 0;
    margin-right: 10px;
  }
  .main-visual__banners img:last-child {
    margin-right: 0;
  }
  .main-visual__reference {
    width: 80%;
    margin: 0 auto;
  }
  .main-visual__reference span {
    display: block;
    line-height: 19px;
    font-size: 11px;
  }
  .cv-point {
    width: 80%;
    padding: 20px;
  }
  .cv-point__text {
    font-size: 14px;
  }
  .cv-point__button a {
    width: 100%;
    font-size: 18px;
    line-height: 54px;
  }
  .cv-point__button img {
    width: 24px;
    top: 15px;
  }
  .intro .is-pc {
    display: none;
  }
  .intro__container {
    width: 95%;
    top: 63.5%;
    left: 50%;
  }
  .intro__title span {
    font-size: 18px;
  }
  .intro__title span:last-child {
    padding-right: 78px;
  }
  .intro__title .is-bar.is-sp {
    display: inline-block;
  }
  .intro__title .is-bar::after {
    width: 70px;
  }
  .intro__body p {
    font-size: 15px;
  }
  .intro__body span {
    font-size: 18px;
  }
  .graph {
    margin: 30px 0;
  }
  .graph .is-pc {
    display: none;
  }
  .graph img {
    width: 100%;
  }
  .strength {
    width: 100%;
  }
  .strength__data {
    border-radius: 0px;
    padding: 20px;
  }
  .strength__heading {
    padding: 0 98px;
  }
  .strength__heading:after {
    width: 88px;
  }
  .strength__heading:before {
    width: 88px;
  }
  .strength__contents {
    display: block;
  }
  .strength__contents li {
    width: 80%;
    margin: 0 auto 18px auto;
  }
  .strength__contents li:last-child {
    margin: 0 auto 18px auto;
  }
  .strength__td {
    font-size: 20px;
  }
  .strength__td span {
    font-size: 35px;
  }
  .strength__description {
    border-radius: 0px;
  }
  .strength__lists li {
    font-size: 16px;
  }
  .strength__document {
    display: block;
  }
  .strength__document .is-up {
    width: 100%;
  }
  .strength__document .is-down {
    width: 100%;
  }
  .strength__document ul:first-child {
    margin-right: 8px;
    margin-bottom: 5px;
  }
  .strength__doc-lists li {
    font-size: 15px;
  }
  .support {
    width: 100%;
  }
  .support__contents {
    display: block;
  }
  .support__contents li {
    width: 85%;
    margin: 0 auto 20px auto;
  }
  .support__heading {
    font-size: 20px;
  }
  .support__body {
    font-size: 15px;
  }
  .support__method {
    text-align: center;
    padding: 30px 0 50px 0;
    display: block;
  }
  .support__method img {
    width: 85%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .greeting {
    width: 95%;
    padding: 30px 0;
  }
  .greeting .is-pc {
    display: none;
  }
  .step {
    width: 90%;
  }
  .c-accordion li:not(:last-child) {
    margin-bottom: 12px;
  }
  .c-accordion__title {
    font-size: 16px;
  }
  .c-accordion__title span {
    font-size: 32px;
  }
  .c-accordion__title i {
    right: 14px;
  }
  .c-accordion__box {
    padding: 18px 24px;
  }
  .c-accordion .is-flex {
    display: block !important;
  }
  .c-accordion__image {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .c-accordion__text {
    width: 100%;
    font-size: 15px;
  }
  .c-accordion__text a {
    font-size: 18px;
  }
  .plan {
    width: 90%;
    padding-bottom: 30px;
  }
  .plan__discount li {
    display: block;
  }
  .plan__discount-title {
    letter-spacing: 3px;
    font-size: 18px;
    line-height: 27px;
    width: 100%;
  }
  .plan__discount-body {
    font-size: 15px;
    padding: 12px 0;
    width: 100%;
  }
  .plan__discount-body strong {
    font-size: 22px;
  }
  .plan__discount-body span {
    font-size: 15px;
  }
  .c-table-price th,
  .c-table-price td {
    border-right: none;
  }
  .c-table-price thead {
    display: none;
  }
  .c-table-price tbody th {
    width: 35%;
    padding: 20px 5px;
    font-size: 15px;
  }
  .c-table-price tbody td {
    width: 55%;
    font-size: 15px;
  }
  .c-table-price tbody td strong {
    font-size: 24px;
  }
  .c-table-price tbody td span {
    font-size: 20px;
  }
  .c-table-price .js-is-hidden {
    display: none;
    visibility: hidden;
  }
  .review {
    width: 90%;
  }
  .c-card-review-lg__block {
    display: block;
    padding: 30px;
    height: 700px;
  }
  .c-card-review-lg__content {
    width: 100%;
  }
  .c-card-review-lg__title {
    font-size: 20px;
    text-align: center;
    margin: 5px 0;
  }
  .c-card-review-lg__text {
    font-size: 14px;
  }
  .c-card-review-lg__image {
    width: 100%;
    margin-bottom: 10px;
  }
  .contact {
    width: 90%;
    border-radius: 20px;
  }
  .contact__text {
    padding: 0 30px;
  }
  .contact__form {
    width: 90%;
  }
  .contact__block.is-harf {
    width: 60%;
  }
  .contact__block label {
    font-size: 15px;
  }
  .contact__radio-box {
    width: 50%;
  }
  .contact__radio-box input {
    width: 30px;
  }
  .contact__submit {
    width: 258px;
    font-size: 16px;
    line-height: 54px;
  }
  .footer-container .is-pc {
    display: none;
  }
  .footer-container__address {
    font-size: 16px;
  }
  .footer-container__number {
    font-size: 24px;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 340px) {
  .sec-title__text {
    font-size: 18px;
  }
  .main-visual__copy p {
    font-size: 24px;
  }
  .main-visual__copy span {
    font-size: 28px;
  }
  .main-visual__copy span:last-child {
    font-size: 13px;
  }
  .cv-point__text {
    font-size: 12px;
  }
  .cv-point__button a {
    font-size: 16px;
    line-height: 50px;
  }
  .cv-point__button img {
    width: 20px;
    top: 16px;
  }
  .intro__title span {
    font-size: 16px;
  }
  .intro__body p {
    font-size: 13px;
  }
  .intro__body span {
    font-size: 16px;
  }
  .strength__heading {
    padding: 0 88px;
    font-size: 18px;
  }
  .strength__heading:after {
    width: 78px;
  }
  .strength__heading:before {
    width: 78px;
  }
  .strength__td {
    font-size: 18px;
  }
  .strength__td span {
    font-size: 32px;
  }
  .strength__lists li {
    font-size: 15px;
  }
  .strength__doc-lists li {
    font-size: 14px;
  }
  .plan__discount-title {
    font-size: 16px;
    line-height: 24px;
  }
  .plan__discount-body {
    font-size: 14px;
  }
  .plan__discount-body strong {
    font-size: 18px;
  }
  .plan__discount-body span {
    font-size: 14px;
  }
  .c-table-price tbody th {
    font-size: 14px;
  }
  .c-table-price tbody td {
    font-size: 14px;
  }
  .c-table-price tbody td strong {
    font-size: 20px;
  }
  .c-table-price tbody td span {
    font-size: 18px;
  }
  .contact__text-box, .contact__select-box, .contact__radio-box, .contact__textarea-box {
    font-size: 14px;
  }
  .contact__block label {
    font-size: 14px;
  }
  .contact__submit {
    width: 248px;
    font-size: 15px;
    line-height: 50px;
  }
  .footer-container__address {
    font-size: 14px;
  }
  .footer-container__number {
    font-size: 20px;
    letter-spacing: 3px;
  }
}
/*# sourceMappingURL=index.css.map */