body {
  width: 100%;
  font-family: 'Roboto';
  color: #353535;
}

header {
  width: 100%;
  background-color: #fff;
}

.header-container__first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 120px 10px 120px;
}

.header-container__second.is-sp {
  display: none;
}

.header-container__left {
  display: flex;
  align-items: center;
}

.header-container__logo {
  height: 75px;
  margin-right: 10px;
}

.header-container__appeal {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #ff7a7a;
  border-radius: 10px;
  color: #ff7a7a;
}

.header-container__appeal i {
  font-size: 28px;
  margin-right: 10px;
}

.header-container__appeal-text {
  font-size: 15px;
  margin-right: 10px;
}

.header-container__appeal-label {
  font-size: 13px;
  font-weight: 900;
  padding: 2px 12px;
  color: #fff;
  background-color: #ff7a7a;
}

.header-container__call {
  color: #1db7e1;
  line-height: 10px;
}

.header-container__call i {
  font-size: 32px;
  margin-right: 12px;
}

.header-container__time-zone {
  text-align: right;
  font-size: 15px;
}

.header-container__phone-number {
  font-size: 35px;
  letter-spacing: 1.75px;
  font-weight: bold;
}

.main-visual {
  position: relative;
  width: 100%;
}

.main-visual img {
  width: 100%;
}

.main-visual__up {
  margin-bottom: 24px;
}

.main-visual__copy p {
  font-size: 55px;
  color: #1db7e1;
}

.main-visual__copy span {
  font-weight: 900;
  font-size: 66px;
  color: #1db7e1;
}

.main-visual__copy span:last-child {
  display: block;
  color: #353535;
  font-size: 20px;
  font-weight: normal;
}

.main-visual__copy .is-dot {
  letter-spacing: -3px;
  position: relative;
}

.main-visual__copy .is-dot::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  left: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background: #ff7a7a;
  border-radius: 50%;
}

.main-visual__banners {
  width: 45%;
  display: flex;
}

.main-visual__banners img {
  width: 33.3%;
  min-width: 150px;
  margin-right: 18px;
}

.main-visual__reference span {
  font-size: 13px;
}

.cv-point {
  text-align: center;
  width: 680px;
  margin: 38px auto;
  border: 1px dashed #1db7e1;
  padding: 30px 60px;
  border-radius: 25px;
}

.cv-point__text {
  font-size: 23px;
  font-weight: bold;
  color: #1db7e1;
  margin-bottom: 10px;
}

.cv-point__button a {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 395px;
  background: linear-gradient(to right, #ff637f, #ffa86b);
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  line-height: 75px;
  border-radius: 37.5px;
}

.cv-point__button a:hover {
  opacity: .8;
}

.cv-point__button img {
  position: absolute;
  width: 33px;
  left: 20px;
  top: 21px;
}

.intro {
  position: relative;
}

.intro img {
  width: 100%;
}

.intro__container {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-50%) translateX(-50%);
}

.intro__title span {
  font-size: 22px;
  color: #1db7e1;
  font-family: ten-mincho, serif;
  font-weight: bold;
  letter-spacing: 0.8px;
}

.intro__title .is-bar {
  padding-right: 118px;
  position: relative;
}

.intro__title .is-bar::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: #1db7e1;
  width: 114px;
  height: 1px;
}

.intro__body p {
  font-size: 18px;
}

.intro__body p:first-child {
  margin: 10px 0;
}

.intro__body p:nth-of-type(2) {
  margin: 8px 0;
}

.intro__body p:last-child {
  margin-top: 10px;
}

.intro__body span {
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #fff;
  font-size: 22px;
  color: #ff7a7a;
  font-family: ten-mincho, serif;
}

.sec-title {
  width: 100%;
  text-align: center;
  padding: 50px 0 20px 0;
}

.sec-title img {
  width: 122px;
  margin-bottom: 10px;
}

.sec-title__text {
  font-size: 30px;
  font-weight: bold;
  font-family: ten-mincho, serif;
  color: #1db7e1;
}

.movie {
  text-align: center;
}

.movie video {
  width: 100%;
  max-width: 600px;
}

.graph {
  margin-top: 50px;
  text-align: center;
}

.graph img {
  width: 80%;
}

@media screen and (min-width: 481px) {
  body {
    min-width: 1200px;
  }
  .main-visual__image-sp {
    display: none;
  }
  .main-visual__container {
    position: absolute;
    left: 12%;
    top: 12%;
  }
  .intro .is-sp {
    display: none;
  }
  .graph .is-sp {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .sec-title {
    width: 100%;
    text-align: center;
    padding: 50px 0 20px 0;
  }
  .sec-title img {
    width: 122px;
    margin-bottom: 10px;
  }
  .sec-title__text {
    font-size: 20px;
  }
  .header-container__first {
    padding: 8px 10px 0 10px;
  }
  .header-container__logo {
    height: 40px;
  }
  .header-container__appeal.is-pc {
    display: none;
  }
  .header-container__call i {
    font-size: 19px;
    margin-right: 5px;
  }
  .header-container__time-zone {
    font-size: 11px;
  }
  .header-container__phone-number {
    font-size: 19px;
    letter-spacing: 0.95px;
  }
  .header-container__second.is-sp {
    display: inline-block;
    margin: 0 0 10px 15px;
  }
  .header-container__second .header-container__appeal {
    padding: 5px 8px;
  }
  .header-container__second .header-container__appeal i {
    font-size: 18px;
  }
  .header-container__second .header-container__appeal-text {
    font-size: 12px;
  }
  .header-container__second .header-container__appeal-label {
    font-size: 11px;
    padding: 2px 8px;
  }
  .main-visual__image {
    display: none;
  }
  .main-visual__up {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
  }
  .main-visual__down {
    position: absolute;
    bottom: 0;
  }
  .main-visual__copy {
    text-align: center;
  }
  .main-visual__copy p {
    font-size: 28px;
  }
  .main-visual__copy span {
    font-size: 32px;
  }
  .main-visual__copy span:last-child {
    padding: 0 20%;
    font-size: 15px;
  }
  .main-visual__copy .is-dot {
    letter-spacing: -3.5px;
  }
  .main-visual__copy .is-dot::before {
    top: -7px;
    width: 7px;
    height: 7px;
  }
  .main-visual__banners {
    width: 80%;
    margin: 0 auto;
  }
  .main-visual__banners img {
    min-width: 0;
    margin-right: 10px;
  }
  .main-visual__banners img:last-child {
    margin-right: 0;
  }
  .main-visual__reference {
    width: 80%;
    margin: 0 auto;
  }
  .main-visual__reference span {
    display: block;
    line-height: 19px;
    font-size: 11px;
  }
  .cv-point {
    width: 80%;
    padding: 20px;
  }
  .cv-point__text {
    font-size: 14px;
  }
  .cv-point__button a {
    width: 100%;
    font-size: 18px;
    line-height: 54px;
  }
  .cv-point__button img {
    width: 24px;
    top: 15px;
  }
  .intro .is-pc {
    display: none;
  }
  .intro__container {
    width: 95%;
    top: 63.5%;
    left: 50%;
  }
  .intro__title span {
    font-size: 18px;
  }
  .intro__title span:last-child {
    padding-right: 78px;
  }
  .intro__title .is-bar.is-sp {
    display: inline-block;
  }
  .intro__title .is-bar::after {
    width: 70px;
  }
  .intro__body p {
    font-size: 15px;
  }
  .intro__body span {
    font-size: 18px;
  }
  .graph {
    margin: 30px 0;
  }
  .graph .is-pc {
    display: none;
  }
  .graph img {
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .main-visual__copy p {
    font-size: 24px;
  }
  .main-visual__copy span {
    font-size: 28px;
  }
  .main-visual__copy span:last-child {
    font-size: 13px;
  }
  .cv-point__text {
    font-size: 12px;
  }
  .cv-point__button a {
    font-size: 16px;
    line-height: 50px;
  }
  .cv-point__button img {
    width: 20px;
    top: 16px;
  }
  .intro__title span {
    font-size: 16px;
  }
  .intro__body p {
    font-size: 13px;
  }
  .intro__body span {
    font-size: 16px;
  }
}
/*# sourceMappingURL=index.css.map */